/Source/.nuget

/Source/packages

/Source/SimpleDataGenerator.Core/bin

/Source/SimpleDataGenerator.Core/obj
/Source/SimpleDataGenerator.Tests.Core/bin

/Source/SimpleDataGenerator.Tests.Core/obj

/Source/*.suo
